@import url("../../index.css");

.topBarContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 12vh;
  display: flex;
  z-index: 100;
  background-color: transparent;
}

.firstRectangle {
  position: relative;
  height: 100%;
  width: 6vw;
  background-color: var(--highlights-color);
  box-shadow: -4px 4px 8px var(--highlights-shadow-color);
}

.bigLight {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  z-index: 99;
  background-color: var(--light-effect-color);
  box-shadow: 1px 0 12px var(--light-effect-shadow-color),
    -1px 0 12px var(--light-effect-shadow-color),
    0 -1px 12px var(--light-effect-shadow-color),
    0 1px 12px var(--light-effect-shadow-color);
}

.secondRectangle {
  width: 6vw;
  transform: skewX(-40deg) translateX(-45%);
  background-color: var(--highlights-color);
  box-shadow: 4px 4px 8px var(--highlights-shadow-color);
}

.smallLightsContainer {
  position: absolute;
  left: 100%;
  top: 20%;
  display: flex;
  gap: 1rem;
}

.smallLightsItem {
  width: 2vh;
  height: 2vh;
  border-radius: 100%;
  z-index: 99;
  background-color: var(--light-effect-color);
}

#smallLightOne {
  animation: lightPulse 7s linear infinite;
}
#smallLightTwo {
  animation: lightPulse 6s linear infinite 2s;
}
#smallLightThree {
  animation: lightPulse 5s linear infinite 6s;
}

.thirdRectangle {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: var(--highlights-color);
  box-shadow: -4px 4px 8px var(--highlights-shadow-color);
}

.thirdRectangle::after {
  position: absolute;
  content: "";
  width: 5%;
  height: 100%;
  top: 0;
  left: -5%;
  background-color: var(--highlights-color);
  box-shadow: -4px 4px 8px var(--highlights-shadow-color);
}

@keyframes lightPulse {
  0% {
    box-shadow: none;
  }
  37% {
    box-shadow: none;
  }
  40% {
    box-shadow: 1px 0 12px var(--light-effect-shadow-color),
      -1px 0 12px var(--light-effect-shadow-color),
      0 -1px 12px var(--light-effect-shadow-color),
      0 1px 12px var(--light-effect-shadow-color);
  }
  97% {
    box-shadow: 1px 0 12px var(--light-effect-shadow-color),
      -1px 0 12px var(--light-effect-shadow-color),
      0 -1px 12px var(--light-effect-shadow-color),
      0 1px 12px var(--light-effect-shadow-color);
  }
  100% {
    box-shadow: none;
  }
}

@media (max-width: 250px) {
  .smallLightsContainer {
    left: 90%;
  }
}

@media (max-width: 1950px) {
  .smallLightsContainer {
    left: 100%;
  }
  .secondRectangle {
    width: 8vw;
  }
}

@media (max-width: 1750px) {
  .smallLightsContainer {
    left: 150%;
  }
  .secondRectangle {
    width: 10vw;
  }
}

@media (max-width: 1250px) {
  .smallLightsContainer {
    left: 180%;
  }
  .secondRectangle {
    transform: skewX(-40deg) translateX(-50%);
  }
}

@media (max-width: 1080px) {
  .firstRectangle {
    width: 10vw;
  }
  .secondRectangle {
    width: 24vw;
  }
  .thirdRectangle::after {
    width: 30%;
    left: -25%;
  }
  .smallLightsContainer {
    left: 220%;
  }
}

@media (max-width: 820px) {
  .firstRectangle {
    width: 16vw;
  }
  .secondRectangle {
    width: 28vw;
  }
  .smallLightsContainer {
    left: 130%;
  }
}

@media (max-width: 600px) {
  .firstRectangle {
    width: 16vw;
  }
  .bigLight {
    width: 6vh;
    height: 6vh;
  }
  .secondRectangle {
    width: 40vw;
  }
  .smallLightsContainer {
    left: 150%;
  }
}

@media (max-width: 450px) {
  .smallLightsContainer {
    left: 190%;
  }
}

@media (max-width: 375px) {
  .firstRectangle {
    width: 20vw;
  }
  .secondRectangle {
    width: 50vw;
  }
}
