:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #f0f0f0;
  --secondary-color: #000;
  --highlights-color: #b6b6b6;
  --highlights-shadow-color: #b6b6b68c;
  --light-effect-color: #fff;
  --light-effect-shadow-color: #ffffff7a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
