:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #f0f0f0;
  --secondary-color: #000;
  --highlights-color: #b6b6b6;
  --highlights-shadow-color: #b6b6b68c;
  --light-effect-color: #fff;
  --light-effect-shadow-color: #ffffff7a;
  --card-bg-color: #dadada;
  --card-bg-hover-color: #e9e9e9;
  --grass-type-color: #00a600;
  --grass-type-highlights-color: #24de24;
  --fire-type-color: #c20000;
  --fire-type-highlights-color: #ff3e3e;
  --water-type-color: #0070a8;
  --water-type-highlights-color: #2eaded;
  --bug-type-color: #3d7927;
  --bug-type-highlights-color: #66b54a;
  --normal-type-color: #5a5a5a;
  --normal-type-highlights-color: #a9a9a9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
